* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > div {
  flex: 1;
  text-align: center;
}

.Header {
  margin-top: 2em;
}
.Header > h1 {
  font-size: 2em;
}

.links > a {
  user-select: none;
  color: black;
  text-decoration: none;
  font-size: 1em;
}

.links-buttons {
  max-width: 20em;
  min-width: 10em;
  margin: 2em 0;
  padding: 1em;
  border: 0.1em solid black;
  border-radius: 0.2em;
}
.links-buttons:hover {
  border-color: blue;
  color: blue;
}

.Hist {
  max-width: 30em;
  padding: 2em;
}
.Hist > h2 {
  margin-bottom: 1em;
  text-align: right;
}
.Hist > p {
  text-align: left;
  margin-bottom: 2em;
}
.Hist > .Video {
  text-align: center;
}
